@font-face {
  font-family: "Xenon-2";
  src: url "../font-family/xenon2.ttf" format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  background-color: black;
}

.container {
  width: 100%;
  background-color: #000000;
  height: auto;
}
#myCanvas {
  display: block;
  border: 5px solid black;
  margin: 2% auto;
  padding: 0 auto;
}
