@font-face {
  font-family: "Xenon2";
  src: url ("font-family/cw_alien.ttf");
  }

html {
  background-color: black;
}

.container {
  width: 100%;
  background-color: #000000;
  height: auto;
}
#myCanvas {
  display: block;
  border: 5px solid #ffffff;
  margin: 2% auto;
  padding: 0 auto;
}
